<div ng-controller="MentorsCtrl">
  <form ng-submit="submitForm(mentor)">
      <label for="first_name">Name</label>
      <input id="first_name" type="text" ng-model="mentor.name" />

      <label for="password">Password</label>
      <input id="password" type="password" ng-model="mentor.password" />

      <label for="confirm_password">Confirm Password</label>
      <input id="confirm_password" type="password" ng-model="mentor.password_confirmation" />
      <button type="submit">Submit</button>
  </form>
</div>