<div ng-init="all_programs()">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="program in programs">
        <td>
          <a ui-sref="admin.program({id: program.id})">{{ program.name }}</a>
        </td>

        <td>
          <a ui-sref="admin.edit_program({id: program.id})">Edit</a>
          <a href="#" ng-click="destroy_program(program)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <a ui-sref="admin.new_program">New Program</a>
</div>
